.about {
  display: flex;
  justify-content: space-between;
  line-height: 1.4;
  column-gap: 55px;
  padding-bottom: 150px;
}

.about__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__img {
  max-width: 50%;
  height: 100%;
  border-radius: 15px;
  object-fit: fill;
}

.about__desc {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 50px;
}

.about__footer {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  column-gap: 30px;
}

.about__how {
  font-weight: 600;
  font-size: 14px;
}
.about__text {
  max-width: 100%;
  font-weight: 500;
  font-size: 14px;
  border-top: 3px solid rgba(210, 180, 70, 0.5);
}

@media (max-width: 1024px) {
  .about {
    padding-bottom: 100px;
    column-gap: 20px;
  }

  .about__desc {
    font-size: 13px;
    padding-bottom: 25px;
  }

  .btn--consultation {
    font-size: 16px;
    padding: 5px 10px;
  }

  .about__footer {
    padding-top: 20px;
  }

  .about__how {
    font-size: 13px;
  }
  .about__text {
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  .about {
    display: block;
  }

  .about__img {
    max-width: 70%;
    max-height: 50%;
    border-radius: 15px;
    object-fit: cover;
    display: flex;
    margin: 0 auto;
  }

  .about__desc {
    text-align: center;
  }
}
