.desc {
  max-width: 1440px;
  margin: 0 auto;
}
.desc__title {
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.2;
  color: #000;
  padding-bottom: 25px;
}
.desc__grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}

.desc__grid img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.batumi {
  grid-column: 1 / 3;
}

.adjaria {
  grid-column: 3 / 4;
}

.text {
  grid-column: 4 / 5;
  text-align: start;
  padding-left: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 5%;
  align-items: center;
}

.sunset {
  grid-column: 1 / 2;
}

.square {
  grid-column: 2 / 4;
}

.clouds {
  grid-column: 4 / 5;
}

@media (max-width: 1156px) {
  .desc__grid {
    display: none;
  }
}

@media (min-width: 1157px) {
  .swiper {
    display: none;
  }
}
