.header {
  margin: 0 auto;
  text-align: center;
  max-width: none;
  padding: 250px 50px;
  background-image: url(/img/header/gruzinski-gori-vid-yakix-perexoplyuye-podix-1\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1024px) {
  .header {
    padding: 180px 30px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 120px 0;
  }
}
