.reviews {
  padding: 150px 0px;
  letter-spacing: 0.05em;
}

.reviews__grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(1, auto);
}
.review__content {
  padding: 0 10px;
  border-right: 1px solid rgba(210, 180, 70, 0.5);
}

.review {
  padding: 0 10px;
  border-right: 1px solid rgba(210, 180, 70, 0.5);
}

.review:nth-child(4) {
  border: none;
}

.review__header {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  align-items: center;
}

.review__card {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.review__image {
  margin-left: 10px;
  max-width: 70px;
  max-height: 70px;
  border-radius: 100%;
}

.review__name {
  font-size: 15px;
}

.review__location {
  font-size: 13px;
  font-weight: 600;
}

.review__text {
  font-size: 13px;
}

@media (max-width: 1024px) {
  .reviews {
    padding: 100px 0;
  }
  .reviews__grid {
    display: block;
  }
  .review {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(210, 180, 70, 0.5);
    border-right: none;
  }
  .review:nth-child(1) {
    padding-top: none;
  }

  .review__image {
    max-width: 60px;
  }
}
