.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 150px 50px;
  font-family: "Poppins", serif;
  letter-spacing: 0.05em;
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 150px 50px;
  }
}
